.input {
  box-sizing: border-box;
  display: block;
  width: 80%;
  border: 3px solid #212121;
  padding: 20px;
  border-radius: 4px;
  font-weight: 800;
  font-size: medium;
  font-family: "Inter", sans-serif;
  color: #212121;
}

.input::placeholder {
  color: #2222226f;
  font-weight: 800;
  margin: 30px;
  margin-left: 12px;
  font-size: medium;
  font-family: "Inter", sans-serif;
}

.button {
  margin: 30px;
  margin-left: 0;
  padding: 10px 15px;
  background: #fab700;
  border: none;
  border-radius: 4px;

  font-weight: 800;
  font-size: medium;
  font-family: "Inter", sans-serif;
  color: #212121;
}

.button:hover {
  background: #ffc830;
}
