.title {
  font-weight: 800;
  font-size: medium;
  font-family: "Inter", sans-serif;
  color: #212121;
}

.list {
  list-style: none;
  padding: 0;
}

a {
  color: #212121;
  text-decoration: none;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}
